@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="shadow-forms">
    <div class="message warning">
        <div class="login-head">
            <a href="/"><div class="alert-close"> </div></a>
            <h2>Регистрация</h2>
        </div>
        <div class="sub-head">
            <img src="~/images/step1.png" alt="" />
            <p><font color="maroon"><b>@ViewBag.messageWrong</b></font></p>
        </div>
        <form action="verfy1Step" method="post">
            <input class="simpleText" name="LastName" type="text" placeholder="Фамилия" title="Фамилия должна начинаться с большой русской буквы" pattern="[А-Я]{1}[а-я]{1,}" required >
            <input class="simpleText" name="FirstName" type="text" placeholder="Имя" title="Имя должно начинаться с большой русской буквы" pattern="[А-Я]{1}[а-я]{1,}" required>
            <input class="simpleText" name="Patronymic" type="text" pattern="[А-Я]{1}[а-я]{3,}" title="Отчество должна начинаться с большой русской буквы" placeholder="Отчество">
            <div class="submit">
                <input type="submit" value="Следующий шаг">
            </div>

        </form>

    </div>

</div>