@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/_Layout.cshtml";
}
    
<div class="shadow-forms">
        <div class="message warning">
            <div class="login-head">
                <a href="/"><div class="alert-close"> </div></a>
                <h2>Вход в аккаунт</h2>
            </div>
            <div class="sub-head">
                <p><font color="maroon"><b>@ViewBag.messageWrong</b></font></p>
                
            </div>
            <form action ="Verify" method="post">
                <input name="username" class="username" type="text"  placeholder="Логин" required>
                <input name="password" class="password" id="myInput" type="password" placeholder="Пароль" required>
                <div class="p-container">
                    <label class="checkbox"><input type="checkbox" name="checkbox" onclick="myFunction()"><i></i>Показать пароль</label>
                    <h6><a href="/Account/Remember">Забыли пароль?</a> </h6>
                    <div class="clear"> </div>
                    <script>
                        function myFunction() {
                            var x = document.getElementById("myInput");
                            if (x.type === "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }
                    </script>
                </div>
                <div class="submit">
                    <input class="to-animate" type="submit" value="Вход">
                </div>
                
            </form>

        </div>
        
    </div>

    