@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Восстановление пароля";
}
<div class="shadow-forms">
    <div class="message warning">
        <div class="login-head">
            <a href="/Account/LogIn"><div class="alert-close"> </div></a>
            <h2>Восстановление пароля</h2>
        </div>
        <div class="sub-head">
            <p><font color="maroon"><b>@ViewBag.messageWrong</b></font></p>

        </div>
        <form action="RestorePassword" method="post">
            <input name="username" class="username" type="text"  placeholder="Логин/номер телефона">
            <input name="password" class="password" id="myInput" type="password" placeholder="Кодовое слово">
            <div class="p-container">
                <label class="checkbox"><input type="checkbox" name="checkbox" onclick="myFunction()"><i></i>Показать кодовое слово</label>
                <div class="clear"> </div>
                <script>function myFunction() {
                            var x = document.getElementById("myInput");
                            if (x.type === "password") {
                                x.type = "text";
                            } else {
                                x.type = "password";
                            }
                        }</script>
            </div>
            <div class="submit">
                <input type="submit" value="Вход">
            </div>

        </form>

    </div>

</div>