@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/_Layout.cshtml";
}
<div class="shadow-forms">
    <div class="message warning">
        <div class="login-head">
            <a href="/"><div class="alert-close"> </div></a>
            <h2>Регистрация</h2>
        </div>
        <div class="sub-head">
            <img src="~/images/step3.png" alt="" />
            <p><font color="maroon"><b>@ViewBag.messageWrong</b></font></p>
        </div>
        <form action="verfy3Step" method="post">
            <select class="simpleComboBox" name="status" title="Ваш уровень доступа" required>
                <option selected value="Учащийся">Учащийся</option>
                <option value="Родитель">Родитель</option>
                <option value="Сотрудник">Сотрудник</option>
            </select>
            <select class="simpleComboBox" name="sex" title="Ваш пол" required>
                <option selected value="Мужской">Мужской</option>
                <option value="Женский">Женский</option>
            </select>
            <input class="simpleText" name="SecretWord" type="text" placeholder="Кодовое слово" title="Кодовое слово может состоять из любых символов" required>
            <div class="submit">
                <input type="submit" value="Следующий шаг">
            </div>
        </form>
    </div>
</div>