@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/_Layout.cshtml";
    ViewBag.Title = "Средняя школа №1 г. Полоцк";
}
<div class="login-head">
    <h2>ГУО "Средняя школа №1 г. Полоцка"</h2>
</div>
<div class="message warning">
    <div class="sub-head">
        <h3>Данное приложение помогает:</h3>
        <ul>
            <li><h3>Учителям структурировать и знать все об интересующем классе/ученике </h3></li>
            <li><h3>Родители знают отметки, а так же видят и следят за поосещаемостью детей</h3></li>
            <li><h3>Учащиеся знают все свои отметки, домашние задания и актуальное расписание</h3></li>
            <li><h3>Администрация школы и Министерство знают текущее состояние и могут реагировать оперативнее.</h3></li>
        </ul>
    </div>
</div>
<div class="choice">
    <a class="log" href="/Account/LogIn">Вход</a>
    <a class="log" href="/Account/CreateAccount">Регистрация</a>
</div>