<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/styles/style.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/popuo-box.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/style_menu.css" rel="stylesheet" />
</head>
<body>
    <div class="login-head">
        <h2>ГУО "Средняя школа №1 г. Полоцка"</h2>
    </div>
    <header>   
        <div class="main-menu">
            <div class="menu">
                <ul class="menu__list">
                    <li>
                        <a href="" class="menu__link">Родители</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Учащиеся</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Сотрудники</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Успеваемость</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="menu__link">Расписание</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                            <li>
                                <a href="" class="sub-menu__link">Второй уровень</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="AccountSet">
                <ul class="menu__list">
                    <li>
                        <a href="" class="menu__link">Фамилия Имя</a>
                        <ul class="sub-menu__list">
                            <li>
                                <a href="" class="sub-menu__link">Управление аккаунтом</a>
                            </li>
                            <li>
                                <a href="" class="sub-menu__link">Выход из учетной записи</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        

    </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <p>Copyright &copy; 2021  Все права защищены | <a href="/">Главная</a> | Сообщение разработчику <a href="mailto:dbschool.krigin.psu@gmail.com">dbschool.krigin.psu@gmail.com</a></p>
    </div>

</body>
</html>
