<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/styles/style.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/popuo-box.css" rel="stylesheet" type="text/css" />
    <link href="~/styles/style_menu.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <p>Copyright &copy; 2021  Все права защищены | <a href="/">Главная</a> | Сообщение разработчику <a href="mailto:dbschool.krigin.psu@gmail.com">dbschool.krigin.psu@gmail.com</a></p>
        <p>@ViewBag.catchStatus</p>
    </div>

</body>
</html>
